.helpPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40vh;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: midnightblue;
    border-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 18px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.sub_4grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    text-align: center;
}