@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 700px) {
    img {
        width: 70%; /* 이미지 크기를 60%로 축소 */
    }
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    font-size: clamp(1px, 8vw, 75px);
    font-family: 'Pretendard-Regular';
}

.update {
    align-items: center;
    padding: 1vw;
    border-radius: 13vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.white {
    color:aliceblue;
    
}

#search-input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 40px;
    min-width: 300px;
    width: 40%;
    margin-bottom: 10px;
    font-size: 18px;
}

.search-button {
    background-color: #ffffff;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 20px;
}