@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    font-size: clamp(1px, 8vw, 75px);
    font-family: 'Pretendard-Regular';
    text-align: center;
}

.update {
    align-items: center;
    padding: 1vw;
    border-radius: 13vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.white {
    color:aliceblue;
    font-family: 'Pretendard-Regular'
}

.center_display {
    display: flex;
    align-items: center; 
    justify-content: center;
}

#search-input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 40px;
    min-width: 300px;
    width: 40%;
    margin-bottom: 10px;
    font-size: 18px;
}

.search-button {
    background-color: #ffffff;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 20px;
}


/* 오브젝트 미리보기 메인페이지 */
.objekt_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
}


.objekt_grid img {
    width: 100%;
    height: auto;
}

/* 모든 <a> 태그에 대해 스타일 지정 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 링크 색상 변경 */
    display: inline-block; /* 가운데 정렬을 위해 인라인 블록 요소로 변경 */
    text-align: center; /* 텍스트 가운데 정렬 */
    width: 100%; /* 부모 요소의 너비를 100%로 설정하여 가운데 정렬을 유지 */
}

.green {
    color: rgb(190, 130, 255);
    font-family: 'Pretendard-Regular'
}

.list_objekt {
    text-align: left; /* 왼쪽 정렬 */
    font-size: clamp(1px, 4vw, 23px);
}

.list_container {
    width: 40%;
    border: 0.3vw solid aliceblue;
    border-radius: 2vw;
    justify-content: center; /* 추가된 부분 */
    margin: 0 auto; /* 가운데 정렬 */
    text-align: left; /* 왼쪽 정렬 */
  }

@media (max-width: 900px) {
    .objekt_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .mb-pc {
        width: 70%;
    }

    .list_container {
        width: 90%;
        height: clamp(15vw, auto, auto);
        border: 0.5vw solid aliceblue;
        border-radius: 3vw;
        margin: 0.5vw;
    }
}

/* @media (min-width: 701px) and (max-width: 1000px) {
    #recently {
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media (min-width: 901px) and (max-width: 1300px) {
    .objekt_grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .mb-pc {
        width: 50%;
    }
}